.closer__subtitle{
  padding: 80% 25px 0;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 400;
}

@media (width<800) {
  .closer__subtitle{
    font-size: 1.1rem;
    line-height: 1.4;
  }
  
}

@media (width<600px) {
  .closer__subtitle{
    max-width: none;
    font-size: .8rem;
    width: 100%;
    padding: 25px;
    text-align: center;
  } 
}