.during__content {
  position: relative;
  max-width: 1200px;
  max-height: 800px;
  height: auto;
  margin: 0;
}

@media (width<600px) {
  .during__content {
    position: static;
    display: flex;
    flex-direction: column;
    max-height: none;
  }
}
