.closer__images{
  max-width: 900px;
}

@media (width < 1120px) {
  .closer__images{
    height: 100%;

    transition: scale .4s ease-out 0s;
  }
  .closer__images:hover {
    scale: 1.2;
    z-index: 1;
    object-position: center;
  }
}