.header {
  background-color: steelblue;
  height: auto;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
  "title slider" 
  "subtitle slider";
  /* background-image: url('../../../images/header/MexicoUS.jpg');
  background-position: left;
  background-size: 50%;
  background-repeat: no-repeat; */
  text-align: center;
}