.slider__button{
  position: absolute;
  color: blue;
  z-index: 4;
  top: 0px;
  width: 50px;
  transition: background 1s;
  background: white;
}

.slider__button:hover {
  cursor: pointer;
  background: teal;
}