* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  background-image: url(../../images/cdc-fondo.jpg);
  background-position: center;
  background-size: contain;
  font-family: 'Lato';
  font-weight: 400;
}

