.header__title {
  font-size: 4em;
  grid-area: title;
  margin: 0;
  padding: 0.5em 0.2em;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 1.35;
  text-align: left;
}

@media screen and (width < 1120px) {
  .header__title {
    font-size: 3.5em;
    line-height: 1.4;
  }  
}

@media screen and (width < 958px) {
  .header__title {
    text-align: center;
    padding: 1em 0.2em;
  }
  
}

@media screen and (width < 700px) {
  .header__title {
    text-align: center;
    line-height: 1.15;
  }  
}

@media screen and (width < 400px) {
  .header__title {
    font-size: 3em;
    text-align: center;
    line-height: 1.15;
  }  
}